<%= form_tag evaluations_path, :method => "get", :id => "evaluations_search" do %>

  <div id="search_nav">
<h1 class="center" id="title">Listing evaluations</h1>
    <%= text_field_tag :search, params[:search], :id => "search_box", :class => "center" %>
  </div>
  <div id="evaluations"><%= render 'evaluations' %></div>
<% end %>

<br>

<%# <%= link_to 'New Evaluation', new_evaluation_path %>
