<h1><a href="/">Tufts Course Review</a></h1>

<div class="div_table">
  <div class="row head_row">
    <div class="col-md-3">Name</div>
    <div class="col-md-3">Code</div>
    <div class="col-md-3">Opt Out</div>
    <div></div>
  </div>
  <% @departments.each do |department| %>
    <div class="row course_eval_row">
      <div class="col-md-3"><%= department.name %></div>
      <div class="col-md-3"><%= department.dep_code %></div>
      <div class="col-md-3"><%= department.opt_out %></div>
      <div class="col-md-3"><%= link_to 'Edit', edit_department_path(department), :class => "btn btn-danger"%></div>
    </div>
  <% end %>
</div>
