<h1>Listing professors</h1>

<div class="div_table">
  <div class="row head_row">
    <div class="col-md-3">Name</div>
    <div class="col-md-3">Department</div>
    <div class="col-md-3">Opting Out?</div>
  </div>
  <% @professors.each do |professor| %>
    <div class="row course_eval_row">
      <div class="col-md-3"><%= professor.name %></div>
      <div class="col-md-3"><%= professor.department.name %></div>
      <div class="col-md-3"><%= professor.opt_out ? "Yes": "No" %></div>
      <div class="col-md-3"><%= link_to 'Opt Out', edit_professor_path(professor), :class => "btn btn-danger opt_out_link", "data-target" => professor.id, "data-opt_out" => professor.opt_out %></div>
    </div>
  <% end %>
</div>
