<%= form_tag professors_path, :method => "get", :id => "professors_search" do %>
  <div id="professor_search_nav" class="show">
    <h1 id="professor_title">Listing professors</h1>
    <%= text_field_tag :search, params[:search], :id => "professor_search_box", :placeholder => "Search for an instructor by username or name" %>
  </div>

  <div class="div_table">
    <div class="row head_row">
      <div class="col-md-3">Name</div>
      <div class="col-md-3">Department</div>
      <div class="col-md-2">UTLN</div>
      <div class="col-md-2">Opting Out?</div>
    </div>
    <div id="professors"><%= render 'professors' %></div>
  </div>
<% end %>
