// Place all the styles related to the Professors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

a.btn,
a.btn:hover {
  color: white;
  font-size: 16px;
}

.btn {
  width: 50%;
  max-width: 300px;
}

#professors_search {
  width: 50%;
  display: inline;
}

#professor_search_nav.show {
  width: 100%;
  padding: 10px;
  background: rgb(241,241,241);
}

#professor_search_box {
  display: inline;
  width: 45%;
  vertical-align: bottom;
  height: 30px;
  font-size: 20px;
  margin-left: 30px;
  box-shadow: none;
  border-style: none;
}

#professor_title {
  display: inline;
  vertical-align: bottom;
}
